<div class="hero-container">
    <div class="hero-content" id="hero-content">
        <h1 class="welcome-title">WELCOME TO traveler</h1>
        <hr><br>
        <p class="welcome-subtitle">¡Explora el mundo con traveler!</p>
        <p class="welcome-description">
            Descubre destinos increíbles, encuentra alojamientos perfectos y
            aprovecha ofertas únicas, todo en un solo lugar. Compara opciones,
            reserva de forma fácil y segura, y disfruta de un viaje inolvidable.
            ¡Tu próxima gran aventura comienza con traveler!
        </p>
        <a href="javascript:void(0);" class="explorar"
            (click)="scrollToSection()">EXPLORAR</a>
        <div class="social-icons">
            <a href="#"><img
                    src="http://172.17.131.14:3000/uploads/1742486463803.png"
                    alt="Twitter" class="social-icons" /></a>
            <a href="#"><img
                    src="http://172.17.131.14:3000/uploads/1742486495704.png"
                    alt="Instagram" class="social-icons" /></a>
            <a href="#"><img
                    src="http://172.17.131.14:3000/uploads/1742486264667.png"
                    alt="Facebook" class="social-icons" /></a>
        </div>
    </div>
</div>

<div class="carousel">
    <div class="carousel-track">
        <!-- Imágenes originales -->
        <img src="http://172.17.131.14:3000/uploads/1742224263781.jpg"
            alt="1" />
        <img
            src="https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="2" />
        <img src="http://172.17.131.14:3000/uploads/1742224263781.jpg"
            alt="3" />
        <img
            src="https://images.pexels.com/photos/1632790/pexels-photo-1632790.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="4" />
        <img
            src="https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1600"
            alt="5" />

        <img src="http://172.17.131.14:3000/uploads/1742224263781.jpg"
            alt="1" />
        <img
            src="https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="2" />
        <img src="http://172.17.131.14:3000/uploads/1742224263781.jpg"
            alt="3" />
        <img
            src="https://images.pexels.com/photos/1632790/pexels-photo-1632790.jpeg?auto=compress&cs=tinysrgb&w=1600"
            alt="4" />
        <img
            src="https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1600"
            alt="5" />
    </div>
</div>

<div class="Tittle-destacados-1" id="destacados">
    <h2>ALOJAMIENTOS DESTACADOS</h2>
</div>

<div class="card-deck">
    <div class="actividad expand" *ngFor="let alojamiento of alojamientosFiltrados">
        <img [src]="alojamiento.imagenes[0]" class="fto-actividad"
            alt="Alojamiento">
        <div class="contenido">
            <div class="titulo">{{ alojamiento.nombre_alojamiento }}</div>
            <p class="descripcion">{{ alojamiento.descripcion }}</p>
            <p class="descripcion">{{ alojamiento.pais }}, {{ alojamiento.ciudad }}</p>
            <div class="botones">
                <div class="precio">{{ alojamiento.precio_dia }}€/H</div>
                <button class="btn btn-primary" routerLink="/alojamientos">Ver alojamientos</button>
            </div>
        </div>
    </div>
</div>

<div class="Tittle-destacados-2">
    <h2>ACTIVIDADES DESTACADAS</h2>
</div>

<div class="card-deck">
    <div class="actividad expand" *ngFor="let actividad of actividades">
        <img class="fto-actividad" [src]="actividad.nombre_imagen_actividad"
            alt="Actividad" />
        <div class="contenido">
            <div class="titulo">{{ actividad.nombre_tipo_actividad }}</div>
            <p>{{ actividad.pais }}, {{ actividad.ciudad }}</p>
            <p class="descripcion">Descripción: {{ actividad.descripcion
                }}
            </p>
            <div class="botones">
                <div class="precio">{{ actividad.precio }}€/H</div>
                <button class="btn btn-primary" routerLink="/actividades">Ver actividad</button>
            </div>
        </div>
    </div>

    <button
        id="scrollToTop"
        class="scroll-top-btn"
        *ngIf="mostrarBoton"
        (click)="scrollToTop()">
        <img src="http://172.17.131.14:3000/uploads/1744381510145.png"
            alt="Subir">
    </button>
</div>