<form [formGroup]="form" (ngSubmit)="onSubmit()" class="booking-form">
  <h2>Introduce tus datos</h2>
  <p class="form-info">¡Ya casi estás! Solo tienes que rellenar los campos
    marcados con <span class="required">*</span></p>

  <div class="form-row">
    <div class="form-group">
      <label for="nombre">Nombre <span class="required">*</span></label>
      <input id="nombre" type="text" placeholder="Nombre"
        formControlName="nombre" required />
    </div>

    <div class="form-group">
      <label for="apellidos">Apellidos <span class="required">*</span></label>
      <input id="apellidos" type="text" placeholder="Apellidos"
        formControlName="apellidos" required />
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email <span class="required">*</span></label>
    <input id="email" type="email" placeholder="Email" formControlName="email"
      required />
  </div>

  <div class="form-group">
    <label for="telefono">Teléfono <span class="required">*</span></label>
    <input id="telefono" type="tel" placeholder="Teléfono"
      formControlName="telefono" required />
  </div>


  <div class="date-time-container">
    <div class="form-group">
      <label for="fecha_inicio_reserva">Fecha de recogida <span class="required">*</span></label>
      <input id="fecha_inicio_reserva" type="date" formControlName="fecha_inicio_reserva"
        required />
    </div>

    <div class="form-group">
      <label for="hora_inicio_reserva">Hora de recogida <span class="required">*</span></label>
      <select id="hora_inicio_reserva" formControlName="hora_inicio_reserva" required>
        <option value disabled selected>Selecciona una hora</option>
        <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora
          }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="fecha_final_reserva">Fecha de finalización <span class="required">*</span></label>
      <input id="fecha_final_reserva" type="date" formControlName="fecha_final_reserva"
        required />
    </div>

    <div class="form-group">
      <label for="hora_final_reserva">Hora de finalización <span class="required">*</span></label>
      <select id="hora_final_reserva" formControlName="hora_final_reserva" required>
        <option value disabled selected>Selecciona una hora</option>
        <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora
          }}</option>
      </select>
    </div>

   

  </div>

  <button type="submit" class="btn">Reservar vehículo</button>
</form>

<div 
  class="modal-reserva-exito" 
  *ngIf="modalReservaExitoAbierto" 
  (click)="cerrarModalReservaExito($event)">
  <div class="modal-reserva-exito-contenido" (click)="$event.stopPropagation()">
    <p>La reserva del vehículo se ha realizado correctamente</p>
    <small>Serás redirigido al inicio en 5 segundos...</small>
  </div>
</div>