<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>Nuestras redes</h3>
        <ul>
          <li><a routerLink="#">Instagram</a></li>
          <li><a routerLink="#">Twitter</a></li>
          <li><a routerLink="#">Facebook</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Nuestros destinos</h3>
        <ul>
          <li><a routerLink="/alojamientos">España</a></li>
          <li><a routerLink="/alojamientos">Andorra</a></li>
          <li><a routerLink="/alojamientos">Francia</a></li>
          <li><a routerLink="/alojamientos">Reino Unido</a></li>
          <li><a routerLink="/alojamientos">Alemania</a></li>
          <li><a routerLink="/alojamientos">Italia</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Nuestras Actividades</h3>
        <ul>
          <li><a routerLink="/actividades">Escalada</a></li>
          <li><a routerLink="/actividades">Rutas senderismo</a></li>
          <li><a routerLink="/actividades">Rafting</a></li>
          <li><a routerLink="/actividades">Kayak</a></li>
          <li><a routerLink="/actividades">Rutas en bici</a></li>
          <li><a routerLink="/actividades">Esquí / Snowboard</a></li>
          <li><a routerLink="/actividades">Paseos en helicóptero</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Soporte</h3>
        <ul>
          <li><a routerLink="/contacto">Contacta con nosotros</a></li>
          <li><a routerLink="/politica-privacidad">Política de privacidad</a></li>
          <li><a routerLink="/faq">Preguntas frecuentes</a></li>
        </ul>
      </div>
    </div>
  </footer>
  