@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  /* Cambiado a 100vh para ocupar toda la pantalla */
  background-image: url('http://172.17.131.14:3000/uploads/1743523341161.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-form {
  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 15px;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        border-color: #004225;
        outline: none;
      }
    }

    button {
      background-color: #004225;
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 10px;

      &:hover {
        background-color: #003519;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-container {
    height: auto;
    padding: 40px 20px;
  }

  .hero-form {
    padding: 20px;
    max-width: 100%;
  }
}