<div class="container">
    <div class="info">
        <h2>Información de contacto</h2>
        <p>Rellena el formulario o contáctanos directamente en nuestra oficina,
            a través de nuestro número de teléfono o
            a través de nuestro correo electrónico</p>
        <p><strong>📞</strong> +34 680713060</p>
        <p><strong>📧</strong> ayudatraveler&#64;gmail.com</p>
        <p><strong>📍</strong> Carrer de Monlau 6 08027, Barcelona</p>
    </div>
    <div class="form-container">
        <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" formControlName="nombre"
                    required>
            </div>

            <div>
                <label for="apellido1">Primer Apellido</label>
                <input id="apellido1" type="text" formControlName="apellido1"
                    required>
            </div>

            <div>
                <label for="apellido2">Segundo Apellido</label>
                <input id="apellido2" type="text" formControlName="apellido2"
                    required>
            </div>

            <div>
                <label for="correo">Correo electrónico</label>
                <input id="correo" type="email" formControlName="correo"
                    required>
            </div>

            <div>
                <label for="telefono">Número de teléfono</label>
                <input id="telefono" type="tel" formControlName="telefono"
                    required>
            </div>

            <div>
                <label for="asunto">Seleccione el motivo</label>
                <select id="asunto" formControlName="asunto" required>
                    <option value disabled selected>Seleccione una
                        opción</option>
                    <option value="Quiero más info">Quiero más info</option>
                    <option value="Error">Error</option>
                    <option value="Aclaración">Aclaración</option>
                    <option value="Solicitar rol arrendador">Solicitar rol
                        arrendador</option>
                    <option value="Solicitar rol actividades">Solicitar rol
                        actividades</option>
                    <option
                        value="Solicitar rol arrendador y actividades">Solicitar
                        rol arrendador y actividades</option>
                </select>
            </div>

            <div>
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" formControlName="mensaje"
                    required></textarea>
            </div>

            <button type="submit" [disabled]="!contactoForm.valid">Enviar
                mensaje</button>
        </form>
    </div>
</div>