<div class="container" *ngIf="true">
    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Gestión de Vehículos de Alquiler</h2>
                </mat-panel-title>
                <mat-panel-description>
                    Aquí puedes gestionar los vehículos de alquiler.
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Formulario para agregar/editar vehículos -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Formulario de Vehículos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="form" (ngSubmit)="agregarVehiculo()" class="vehiculo-form">
                    <div class="form-field form-field-id-vehiculo">
                        <label class="form-label">ID del Vehículo</label>
                        <input type="text" formControlName="id_vehiculo" class="form-input" placeholder="Ingrese el ID del vehículo" />
                        <div class="error form-error" *ngIf="form.get('id_vehiculo')?.invalid && form.get('id_vehiculo')?.touched">
                            El ID del vehículo es obligatorio.
                        </div>
                    </div>

                    <div class="form-field form-field-nombre-vehiculo">
                        <label class="form-label">Nombre del Vehículo</label>
                        <input type="text" formControlName="nombre_vehiculo" class="form-input" placeholder="Ingrese el nombre del vehículo" />
                        <div class="error form-error" *ngIf="form.get('nombre_vehiculo')?.invalid && form.get('nombre_vehiculo')?.touched">
                            El nombre del vehículo es obligatorio.
                        </div>
                    </div>

                    <div class="form-field form-field-tipo-vehiculo">
                        <label class="form-label">Tipo de Vehículo</label>
                        <input type="text" formControlName="tipo_vehiculo" class="form-input" placeholder="Ingrese el tipo de vehículo" />
                        <div class="error form-error" *ngIf="form.get('tipo_vehiculo')?.invalid && form.get('tipo_vehiculo')?.touched">
                            El tipo de vehículo es obligatorio.
                        </div>
                    </div>

                    <div class="form-field form-field-imagen">
                        <label class="form-label">Imagen del Vehículo</label>
                        <input type="file" (change)="onFileSelected($event)" class="form-input" />
                        <div class="image-preview" *ngIf="imagenPreview">
                            <img [src]="imagenPreview" alt="Vista previa de la imagen" class="vehiculo-imagen-preview" />
                        </div>
                    </div>

                    <div class="form-buttons">
                        <button type="submit" class="form-button submit-button" [disabled]="form.invalid">
                            {{ form.get('id_vehiculo')?.value ? 'Actualizar' : 'Agregar' }}
                        </button>
                        <button type="button" class="form-button cancel-button" (click)="resetForm()">Cancelar</button>
                    </div>
                </form>
            </mat-expansion-panel>

            <!-- Tabla de vehículos -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lista de Vehículos
                    </mat-panel-title>
                    <mat-panel-description>
                        Total de Vehículos: {{ vehiculos.length }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="vehiculos-table">
                    <thead class="table-header">
                        <tr class="table-row">
                            <th class="table-header-cell">ID</th>
                            <th class="table-header-cell">Nombre</th>
                            <th class="table-header-cell">Tipo</th>
                            <th class="table-header-cell">Imagen</th>
                            <th class="table-header-cell">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr class="table-row" *ngFor="let vehiculo of vehiculos">
                            <td class="table-cell">{{ vehiculo.id_vehiculo }}</td>
                            <td class="table-cell">{{ vehiculo.nombre_vehiculo }}</td>
                            <td class="table-cell">{{ vehiculo.nombre_tipo_vehiculo }}</td>
                            <td class="table-cell">
                                <img [src]="vehiculo.imagen" alt="Imagen del vehículo" class="vehiculo-imagen" />
                            </td>
                            <td class="table-cell">
                                <button class="action-button edit-button" (click)="onEdit(vehiculo.id_vehiculo)">
                                    Editar
                                </button>
                                <button class="action-button delete-button" (click)="onDelete(vehiculo)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>
</div>