<div class="container">
    <mat-accordion multi="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Gestión de Destinos</h2>
                </mat-panel-title>
                <mat-panel-description>
                    Aquí puedes gestionar los destinos de la web.
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Formulario para agregar/editar destinos -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Formulario de Destinos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="form" (ngSubmit)="onSubmit()"
                    class="destino-form">
                    <div class="form-field form-field-pais">
                        <label class="form-label">País</label>
                        <input type="text" formControlName="pais"
                            class="form-input" placeholder="Ingrese el país" />
                        <div class="error form-error"
                            *ngIf="form.get('pais')?.invalid && form.get('pais')?.touched">
                            El país es obligatorio.
                        </div>
                    </div>

                    <div class="form-field form-field-ciudad">
                        <label class="form-label">Ciudad</label>
                        <input type="text" formControlName="ciudad"
                            class="form-input"
                            placeholder="Ingrese la ciudad" />
                        <div class="error form-error"
                            *ngIf="form.get('ciudad')?.invalid && form.get('ciudad')?.touched">
                            La ciudad es obligatoria.
                        </div>
                    </div>

                    <div class="form-buttons">
                        <button type="submit" class="form-button submit-button"
                            [disabled]="form.invalid">
                            {{ form.get('id_destino')?.value ? 'Actualizar' :
                            'Agregar' }}
                        </button>
                        <button type="button" class="form-button cancel-button"
                            (click)="form.reset()">Cancelar</button>
                    </div>
                </form>
            </mat-expansion-panel>

            <!-- Tabla de destinos -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lista de Destinos
                    </mat-panel-title>
                    <mat-panel-description>
                        Total de Destinos: {{ destinos.length }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="destinos-table">
                    <thead class="table-header">
                        <tr class="table-row">
                            <th class="table-header-cell">ID</th>
                            <th class="table-header-cell">País</th>
                            <th class="table-header-cell">Ciudad</th>
                            <th class="table-header-cell">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr class="table-row" *ngFor="let destino of destinos | paginate: { itemsPerPage: 6, currentPage: p }">
                            <td class="table-cell">{{ destino.id_destino }}</td>
                            <td class="table-cell">{{ destino.pais }}</td>
                            <td class="table-cell">{{ destino.ciudad }}</td>
                            <td class="table-cell">
                                <button class="action-button edit-button"
                                    (click)="onEdit(destino)">Editar</button>
                                <button class="action-button delete-button"
                                    (click)="onDelete(destino)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Paginación -->
                <div class="paginacion">
                    <pagination-controls (pageChange)="p = $event"
                        previousLabel="Anterior"
                        nextLabel="Siguiente">
                    </pagination-controls>
                </div>
            </mat-expansion-panel>
        </mat-expansion-panel>
    </mat-accordion>
</div>
