<div class="layout">
  <!-- FILTROS -->
  <form [formGroup]="filtrosForm" class="form-container">
    <!-- Tipo de Vehículo -->
    <div class="form-group">
      <label for="tipoVehiculo">🚗 Tipo de Vehículo:</label>
      <select formControlName="tipoVehiculo" id="tipoVehiculo">
        <option value>-- Selecciona un tipo --</option>
        <option *ngFor="let tipo of tiposVehiculo" [value]="tipo">{{ tipo }}</option>
      </select>
    </div>

    <!-- Rango de precio -->
    <div class="form-group">
      <label for="priceRange">💰 Rango de Precio:</label>
      <input type="range" formControlName="priceRange" id="priceRange" min="10" max="500" step="5" />
      <span>0€ - {{ filtrosForm.value.priceRange }}€</span>
    </div>
  </form>

  <!-- CARDS -->
  <div *ngIf="vehiculosFiltrados.length > 0; else sinVehiculos" class="tarjetas-grid">
    <div *ngFor="let vehiculo of vehiculosFiltrados" class="vehiculo">
      <!-- Imagen del vehículo -->
      <img class="fto-vehiculo" [src]="vehiculo.imagen" alt="Imagen del vehículo">
      <div class="contenido">
        <!-- Nombre del vehículo -->
        <p class="titulo">{{ vehiculo.nombre_vehiculo }}</p>
        <!-- Tipo de vehículo -->
        <p class="descripcion">Tipo: {{ vehiculo.nombre_tipo_vehiculo }}</p>
        <!-- Precio -->
        <div class="precio">{{ vehiculo.precio }}€/día</div>
        <!-- Botón -->
        <button class="saber-mas" (click)="verMas(vehiculo)">Ver más</button>
      </div>
    </div>
  </div>
</div>

<ng-template #sinVehiculos>
  <p>No hay vehículos disponibles.</p>
</ng-template>